body {
    margin: 0;
    padding: 0;
    background-color: #F2EAC5;
    font-family: 'Courier New', Courier, monospace;
    color: #4C2215;
}

.navbar-des{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid black;
    height: 100vh;
}

.content{
    width: 600px;
}

.vs-des{
    color: #E03C30;
}

.git-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 2px solid black;
    flex-direction: column;
}

.basic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.basic-content {
    width: 1200px;
}

.git-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 15px;
}

.git-content {
    display: flex;
    width: 600px;
    align-items:center;
}

.git-image {
    display: flex;
    width: 600px;
    align-items:start;
}

.git-content-right{
    display: flex;
    width: 600px;
    justify-content: end;
}


.imgDes {
    border-radius: 8px;
    border: 2px solid #E5A632;
    box-shadow: 5px 5px grey;
    margin-bottom: 5px;
    width: 100%;
}

.gitText {
    font-size: larger;
}

@media screen and (max-width:1300px) {
    .git-content-right{
        justify-content: start;
    }
}