body {
    margin: 0;
    padding: 0;
    background-color: #F2EAC5;
    font-family: 'Courier New', Courier, monospace;
    color: #4C2215;
}

.navbar-des{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid black;
    height: 100vh;
}

.content{
    width: 600px;
}

.vs-des{
    color: #E03C30;
}

.git-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 2px solid black;

    flex-direction: column;
}

.basic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.git-description {
    display: flex;
    justify-content: space-around;
}